<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Dagger Servlet 3 Sample Web Project</display-name>

    <listener>
        <listener-class>dagger.servlet3.DaggerServletContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>dagger.ModuleFactory</param-name>
        <param-value>dagger.servlet3.sample.SampleModuleFactory</param-value>
    </context-param>

    <context-param>
        <param-name>dagger.servlet3.features.ServletFeatureManager</param-name>
        <param-value>dagger.servlet3.features.DefaultServletFeatureManager</param-value>
    </context-param>

    <servlet>
        <servlet-name>dagger</servlet-name>
        <servlet-class>dagger.servlet3.DaggerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dagger</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
